<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pessoa.nome %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @pessoa.documento %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @pessoa.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pessoa.email %>
</p>

<p>
  <strong>Nomepai:</strong>
  <%= @pessoa.nomePai %>
</p>

<p>
  <strong>Nomemae:</strong>
  <%= @pessoa.nomeMae %>
</p>

<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
