<p id="notice"><%= notice %></p>

<h1>Prova Livros</h1>

<table>
  <thead>
    <tr>
      <th>Livro</th>
      <th>Nota</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prova_livros.each do |prova_livro| %>
      <tr>
        <td><%= prova_livro.livro %></td>
        <td><%= prova_livro.nota %></td>
        <td><%= link_to 'Show', prova_livro %></td>
        <td><%= link_to 'Edit', edit_prova_livro_path(prova_livro) %></td>
        <td><%= link_to 'Destroy', prova_livro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prova Livro', new_prova_livro_path %>
